<!DOCTYPE HTML>

<html>
	<head>
		<title>TheBLVR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="public/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="public/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"><strong>Lunghelo Mlati</strong> TheBLVR</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="public/images/thumbs/1.jpg" class="image"><img src="public/images/thumbs/1.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/2.jpg" class="image"><img src="public/images/thumbs/2.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/3.jpg" class="image"><img src="public/images/thumbs/3.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/15.jpg" class="image"><img src="public/images/thumbs/15.jpg" alt="" /></a>
							<h2>Blind Sights</h2>
							<p>Closed Eyes See More</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/16.jpg" class="image"><img src="public/images/thumbs/16.jpg" alt="" /></a>
							<h2>Blind Sights</h2>
							<p>Closed Eyes See More</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/17.jpg" class="image"><img src="public/images/thumbs/17.jpg" alt="" /></a>
							<h2>Blind Sights</h2>
							<p>Closed Eyes See More</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/25.jpg" class="image"><img src="public/images/thumbs/25.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/26.jpg" class="image"><img src="public/images/thumbs/26.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/27.jpg" class="image"><img src="public/images/thumbs/27.jpg" alt="" /></a>
							<h2>Alino</h2>
							<p>My Main Male Model</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/10.jpg" class="image"><img src="public/images/thumbs/10.jpg" alt="" /></a>
							<h2>Sotho Man</h2>
							<p>Tradition is live</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/11.jpg" class="image"><img src="public/images/thumbs/11.jpg" alt="" /></a>
							<h2>Sotho Man</h2>
							<p>Tradition is live</p>
						</article>
						<article class="thumb">
							<a href="public/images/thumbs/12.jpg" class="image"><img src="public/images/thumbs/12.jpg" alt="" /></a>
							<h2>Sotho Man</h2>
							<p>Tradition is live</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>I Am Lunghelo Mlati</h2>
									<p>While videography is my first love I have,over the last 4 years, taken a liking to capturing moments through stills
									too...I father a beautiful daughter with my partner all while being a devoted son and friend.</p>
									<p>My passion for photography and film has set me on the path to becoming a renowned figure in the South African industry.In my spare time I enjoy playing soccer as well as watching movies and spending time with my family</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; Designed By LNH
								</p>
							</div>
							<div>
								<section>
									<h2>Get in touch</h2>
									<form method="POST" action="send">
										<div class="fields">
											<div class="field half">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="field half">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
											<div class="field">
												<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="public/assets/js/jquery.min.js"></script>
			<script src="public/assets/js/jquery.poptrox.min.js"></script>
			<script src="public/assets/js/browser.min.js"></script>
			<script src="public/assets/js/breakpoints.min.js"></script>
			<script src="public/assets/js/util.js"></script>
			<script src="public/assets/js/main.js"></script>

	</body>
</html>